extends ../layout.pug 

block content 
    h2 Editar cliente 
    hr

    form(action='/clientes/update', method='POST')
        .form-group.mb-4
            label.form-label Nombre 
            input.form-control(type="text", placeholder='Introduce Nombre', name='nombre', value=cliente.nombre)
        .form-group.mb-4 
            label.form-label Apellidos 
            input.form-control(type="text", placeholder='Introduce Apellidos', name='apellidos', value=cliente.apellidos)
        .form-group.mb-4 
            label.form-label Email 
            input.form-control(type="email", placeholder='Introduce Email', name='email', value=cliente.email)
        .form-group.mb-4 
            label.form-label Cuota 
            select.form-select(name='cuota') 
                option(selected) Elige tu cuota 
                option(value= 9.99 ) Semanal (9,99$)
                option(value= 19.99 ) Mensual (19,99$)
                option(value= 49.99 ) Semestral (49,99$)
                option(value= 89.99 ) Anual (89,99$)           
        .form-group.mb-4 
            label.form-label.mr-5 Activo
            input.form-check-input(type="checkbox", name='activo')
        input(type="hidden", value=cliente.id, name='id')
        input.btn.btn-block.btn-info(type="submit", value="Enviar")
    
    script. 
        const cuota = "#{cliente.cuota}";
        const activo = Boolean("#{cliente.activo}");

        const options = document.querySelectorAll('.form-select option');
        // Recorro las opciones y marco la correcta
        for(let option of options){
            if(option.value == cuota){
                option.selected = true
            }
        }
        // Marcar checkbox activo o no
        const checkBox = document.querySelector('.form-check-input');
        if(activo == 'true'){
            chekBox.checked = true
        }
